html {
  background-color: #F2F2F2;
}

body {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans";
  background-color: #fff;
}

.page-header {
  padding: 0 70px;
  height: 64px;
}

.header-navigation {
  display: flex;
  flex-direction: row;
}

.nav-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
}

.nav-link:first-of-type {
  margin-left: 44px;
}

.nav-link:not(:first-of-type) {
  margin-left: 32px;
}

.nav-list {
  height: 64px;
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
}

.nav-user{
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  list-style-type: none;
}
.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(images/index-background.jpg);
  background-repeat: no-repeat;
  background-size: 1200px 485px;
  background-position: 50% 0;
}

.page-footer {
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
